body{
    background: #424242
}
/****** Aparti de aqui es para la animacion del TITULO *******/
#pa
{
    font-size: 37px;
    color: #ffffff;
    overflow: hidden;
    background: linear-gradient(90deg,#424242,#ffffff,#424242);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate
{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
    }
}
/******  aqui termina para la animacion del TITULO *******/
#menu-responsive
{
    width: 45%;
    text-indent: 5%;
}
img{
    border-radius: 5%;
}
/****** Aparti de aqui es para la animacion del LEVANTAMIENTO *******/
#di
{

    display: flex;
    align-items: center;
    justify-content: center;
}
#ico
{
    position: relative;
    margin:0;
    padding: 0;
    display: flex;
}
#ico #ic
{  
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);

}
#ico #ic span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #000000;
    transition: 0.05s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px !important;
}
#ico #ic:hover span:nth-child(5)
{
    transform: translate(40px,-40px);
    opacity: 1;
}
#ico #ic:hover span:nth-child(4)
{
    transform: translate(30px,-30px);
    opacity: .8;
}
#ico #ic:hover span:nth-child(3)
{
    transform: translate(20px,-20px);
    opacity: .6;
}
#ico #ic:hover span:nth-child(2)
{
    transform: translate(10px,-10px);
    opacity: .4;
}
#ico #ic:hover span:nth-child(1)
{
    transform: translate(0,0);
    opacity: .2;
}
#ico #ic:nth-child(1) span
{
    background: #3b5999
}
/*Siguiente icono2*/
#di2
{

    display: flex;
    align-items: center;
    justify-content: center;
}
#ico2
{
    position: relative;
    margin:0;
    padding: 0;
    display: flex;
}
#ico2 #ic2
{  
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0 30px;


}
#ico2 #ic2 span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #000000;
    transition: 0.05s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px !important;
}
#ico2 #ic2:hover span:nth-child(5)
{
    transform: translate(-28px,-28px);
    opacity: 1;
}
#ico2 #ic2:hover span:nth-child(4)
{
    transform: translate(-21px,-21px);
    opacity: .8;
}
#ico2 #ic2:hover span:nth-child(3)
{
    transform: translate(-14px,-14px);
    opacity: .6;
}
#ico2 #ic2:hover span:nth-child(2)
{
    transform: translate(-7px,-7px);
    opacity: .4;
}
#ico2 #ic2:hover span:nth-child(1)
{
    transform: translate(0,0);
    opacity: .2;
}
#ico2 #ic2:nth-child(1) span
{
    background: #8e24aa  
}
/*siguiente icono3*/
#ico3
{
    position: relative;
    margin:0;
    padding: 0;
    display: flex;
}
#ico3 #ic3
{  
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);

}
#ico3 #ic3 span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #000000;
    transition: 0.05s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px !important;
}
#ico3 #ic3:hover span:nth-child(5)
{
    transform: translate(28px,-28px);
    opacity: 1;
}
#ico3 #ic3:hover span:nth-child(4)
{
    transform: translate(21px,-21px);
    opacity: .8;
}
#ico3 #ic3:hover span:nth-child(3)
{
    transform: translate(14px,-14px);
    opacity: .6;
}
#ico3 #ic3:hover span:nth-child(2)
{
    transform: translate(7px,-7px);
    opacity: .4;
}
#ico3 #ic3:hover span:nth-child(1)
{
    transform: translate(0,0);
    opacity: .2;
}
#ico3 #ic3:nth-child(1) span
{
    background: #d81b60   
}
/*siguiente icono 4*/
#ico4
{
    position: relative;
    margin:0;
    padding: 0;
    display: flex;
}
#ico4 #ic4
{  
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 0 30px;


}
#ico4 #ic4 span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #000000;
    transition: 0.05s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px !important;
}
#ico4 #ic4:hover span:nth-child(5)
{
    transform: translate(28px,-28px);
    opacity: 1;
}
#ico4 #ic4:hover span:nth-child(4)
{
    transform: translate(21px,-21px);
    opacity: .8;
}
#ico4 #ic4:hover span:nth-child(3)
{
    transform: translate(14px,-14px);
    opacity: .6;
}
#ico4 #ic4:hover span:nth-child(2)
{
    transform: translate(7px,-7px);
    opacity: .4;
}
#ico4 #ic4:hover span:nth-child(1)
{
    transform: translate(0,0);
    opacity: .2;
}
#ico4 #ic4:nth-child(1) span
{
    background: #e53935    
}

/******  aqui termina para la animacion del LEVANTAMIENTO *******/
#BloFi
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fafafa  ;
    font-size: 13px;
}
#pe
{
    margin-left: 10%;
}
