body
{
    background: #424242;
}
/****** Mover el texto incio *******/
#img1
{
    position:absolute;
    bottom:5px;
    right:10px;
}

#s
{
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-10%, -40%);
}
/****** Mover el texto  fin*******/
/****** Aparti de aqui es para la animacion del TITULO *******/
#s
{

    font-size: 40px;
    color: #424242;
    overflow: hidden;
    background: linear-gradient(90deg,#ffb74d,#e57373,#ffb74d);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate
{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
    }
}
/******  aqui termina para la animacion del TITULO *******/

#p1
{
    margin: 3%;
}
