body
{
    background: #424242;
}
#me
{
    color: #78909c  ;
    font-size: 30px ;
}
#test1, #test2 , #test3 , #test4{

    margin-top: 5%;
    background: #616161 ;
    border: 2px solid #757575 ;
}
/****** Aparti de aqui es para la animacion del TITULO *******/
#h
{
    margin-left: 20%;
    font-size: 37px;
    color: #ffffff;
    overflow: hidden;
    background: linear-gradient(90deg,#424242,#ffffff,#424242);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 6s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate
{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
    }
}
/******  aqui termina para la animacion del TITULO *******/
p
{
    margin-top: 5%;
    margin-left:10%; 
    margin-right: 10%;
    margin-bottom: 5%;
}
#h3
{
    margin-left: 5%;
    width: 150px;
    height: 40px;
    font-size: 28px
}

#img1, #img2
{
    border-radius: 6%;
}
#blo1
{
    width: 150px;
    margin-left: 5%;
}

#div2
{
    margin-bottom: 5%;
}
#mobile-demo
{
    width: 45%;
    text-indent: 5%;
}
.waves-effect.waves-indigo .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(159, 168, 218, 0.25);
   }

#sec1
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(231, 24, 24, 0.05);

}
#pp,#hh
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#himg
{

    border-radius: 6%;
    margin-top: 3%;
    float: right;
}
 #px3
 {
    margin-left: 3%;
    margin-top: 3%;
 }
 #panel1
 {
    margin-left: 3%;
 }
 #ph6
 {
     text-align: center;
 }
#panel2
 {
    margin-right: 3%;
 }